# ================================================================
# .gitignore for Emacs Lisp
# ================================================================

# Local Dependencies & Package Managers
/elpa/
/eln-cache/
/lisp/vendor/
/lisp/init-local.el
/transient/

# User-specific & Volatile Data
/var/
*.~undo-tree

# Executable Scripts Directory
/bin/*
!/bin/uuidgenlc

# Packaging Tool Directories
.cask/
.eask/
.eldev/
.keg/

# Build Artifacts
dist/

# Compiled & Temporary Files
*.elc
*~
.#*

# OS-specific metadata
.DS_Store

# Private and Local Configuration Files (Do Not Commit)
/lisp/init-local.el
/.authinfo.local